.App {
  text-align: center;
}

/* Navbar Styles */

/* ------------------------------------------ */

.navbar {
  background-color: #4aaaa5;
  border-bottom: 1px solid #888888;
}

.navbar-brand {
  background-color: white;
  color: black;
  padding: 10px 20px;
  height: 100%;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
  box-shadow: 3px 4px #888888;
}

.nav-item > a:hover {
  text-decoration: none;
} 

.nav-item:hover {
  background-color: white;
  border: 1px solid black;
}

.navbar {
  padding: 0 30px;
}

/*----------------------------------------------*/

/* About Me Styles */
/*----------------------------------------------*/

.about {
  margin-top: 50px;
  border: solid 1px black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#me {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}